<header class="main-header navbar" style="background-color: rgb(249, 244, 244)">
    <div class="col-search">
        <form class="searchform">
            <div class="input-group">
                <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
            </div>
            <datalist id="search_terms">
                <option value="Products">
                <option value="New orders">
                <option value="Apple iphone">
                <option value="Ahmed Hassan">
            </datalist>
        </form>
    </div>

    <!-- Logout Button -->
    <li class="nav-item">
        <a class="nav-link btn-icon text-danger" href="/admin/logout">
            <i class="material-icons md-exit_to_app"></i>
            Logout
        </a>
    </li>
    </ul>
    </div>
</header>