<head>
    <meta charset="utf-8">
    <title>e commerce </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJnTLqL71ixIu1fuTpTJFAW1QYUqj" crossorigin="anonymous">

    <!-- Other head content -->

    <!-- Add these lines in the head section of your HTML -->

    <!-- Include jQuery from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css" />

    <!-- Link to Cropper.js script via CDN -->
    <script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template CSS -->

    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>