<style>
    @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;700&display=swap');
</style>

<div class="aside-top" style="background-color:rgb(255, 250, 250);">
    <a href="index.html" class="brand-wrap">
        <h1 style="font-family: 'Teko', sans-serif; font-size: larger;">flock clothes</h1>
    </a>
    <div>
        <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
        </button>
    </div>
</div>

<nav style="background-color:rgb(249, 244, 244)">
    <ul class="menu-aside">
        <li class="menu-item  ">
            <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="menu-item ">

            <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                <span class="text">Users</span>
            </a>
        </li>
        <li class="menu-item ">

            <a class="menu-link" href="/admin/productList"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Products</span>
            </a>

        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/orderDetails"> <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Orders</span>
            </a>

        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-store"></i>
                <span class="text">Categories</span>
            </a>

        </li>
        <li class="menu-item ">

            <a class="menu-link" href="/admin/bannerList"> <i class=" icon  material-icons md-photo"></i>
                <span class="text">Banners</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/admin/listCoupon"> <i class="icon material-icons md-stars"></i>
                <span class="text">coupon</span> </a>
        </li>
        <li class="menu-item ">


        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/addProducts"> <i class="icon material-icons md-add_box"></i>
                <span class="text">Add product</span>
            </a>

        </li>
        <li class="menu-item">

            <a class="menu-link" disabled href="/admin/banners"><i class="icon material-icons md-add_box"></i>
                <span class="text">Add Banners</span>
            </a>
        </li>


    </ul>
    <hr>
    <ul class="menu-aside">

    </ul>
    <br>
    <br>
</nav>